body{
    background: #2c2c2c;
}

aside{
    float: left;
    background: #FDFEFE ;
    width: 20%;
    padding: 2.5%;
    height: 100vh;
    color: #020400;
    border-right: 5px;
}

aside img{
    width: 95px;
    height: 95px;
    margin-left: -20px;
    float: left;
}

 aside .logo{
    margin-left:10px;
    font-size: 18px;
    font-weight: bold;
    position: relative;
    top: 34px;
 }

aside h3{
    margin-top:80px;
    font-size: 24px;
}

aside ul{
    list-style: none;
    margin-left: -30px;
}
aside ul li, aside ul a{
        color: #020400;
        display: block;
        margin-top: 10px;
        margin-left: 5px;
        text-decoration: none;
        transition: transform .4s ease;
}
 aside ul li.add_news{
    margin-left: -10px;
 }

aside ul li:hover, aside ul a:hover{
    color: red;
    transform: scale(1.03);
}

a.my_vk:active, a.my_vk:hover, a.my_vk{
    text-decoration:none;
    color: #fff;
}

main .features {
    float: left;
    color: #fff;
    margin-top: 30px;
    text-align: center;
    width: 75%;

}

main .features h1{
    font-size: 40px;
}

main .features p{
    font-size: 16px;
    max-width: 600px;
    margin: 15px auto;
}

.alert-warning{
    float:left;
    clear:both;
    width: 400px;
    margin: 20px 31.5%;
    text-align: center;
}

form {
    margin-left: 25%;
    width: 500px;
    margin: 20px auto;
}
